<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="js/adminAppPwd.js"></script>
    <script src="js/utils/adminHttpInterceptor.js"></script>
    <script src="js/changePassword.js"></script>
</head>
<body ng-app="changepassword">
    <div class="container" ng-controller="changePasswordCtrl">
        <h2>Please first change your password</h2>
        <input class="form-control" ng-model="oldPwd" type="password" placeholder="Old password"><br>
        <input class="form-control" ng-model="newPwd" type="password" placeholder="New password"><br>
        <input class="form-control" ng-model="newPwd2" type="password" placeholder="Confirm new password"><br>
        <div ng-if="message">{{message}}</div>
        <div class="text-center">
            <button class="btn btn-primary m-2" ng-click="doChange()">Change password</button>
        </div>
    </div>
</body>
</html>